body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #485268;
  background-color: #e5e5e5;
}

strong {
  font-weight: 500;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

h2 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

p {
  font-size: 10px;
  line-height: 150%;
}

/* #region about */

.about {
  display: flex;
  background-color: #e25544;
  color: white;
  padding: 32px 40px 24px;
}

.about__name {
  margin: 0 0 8px 0;
}

.about__role {
  margin: 0 0 8px 0;
}

.about__text {
  margin: 0;
}

.about__photo {
  flex-shrink: 0;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  margin-left: 50px;
}
/* #endregion about*/

.main {
  padding: 0 40px;
  background-color: #fff;
}

.wrapper {
  max-width: 595px;
  margin: 0 auto;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.contacts__link {
  color: #485268;
  text-decoration: none;
}

.info {
  border-top: 1px solid #dee2ed;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.info__title {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #e25544;
}

.info__content {
  width: 360px;
}

/*#region job*/
.job {
  margin-top: 24px;
  border-left: 1px dashed #dee2ed;
  padding-left: 8px;
}

.job:first-child {
  margin-top: 0;
}

.job__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.job__descripton {
  margin: 0;
  margin-top: 8px;
}

/*#endregion job*/

/*#region study*/
.study {
  margin-top: 24px;
  border-left: 1px dashed #dee2ed;
  padding-left: 8px;
}

.study:first-child {
  margin-top: 0;
}

.study__title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #485268;
}

.study__descripton {
  margin: 0;
  margin-top: 8px;
}

/*#endregion study*/

/* #region skills*/
.skills,
.tools {
  display: flex;
}

.skills__list,
.tools__list {
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  border-left: 1px dashed #dee2ed;
  padding-left: 8px;
  list-style: none;
}

.skills__item,
.tools__item
 {
  margin-top: 8px;
}

.skills__item:first-child,
.tools__item:first-child {,

  margin-top: 0px;
}

/* #endregion skills*/
